In [107]:
import pandas as pd
import numpy as np
import seaborn as sns
import zipfile

In [108]:
spellings = pd.read_csv("data/MTeamSpellings.csv")
import re


def normalize_name(name):
    name = name.lower()
    name = re.sub(r"[^a-z0-9 ]", " ", name)  # remove punctuation, replace with space
    name = re.sub(r"\s+", " ", name).strip()  # collapse whitespace
    return name

In [109]:
coaches = pd.read_csv("data/coaches.csv")

In [110]:
coaches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         939 non-null    int64
 1   Coach              939 non-null    object
 2   School             939 non-null    object
 3   Conference         939 non-null    object
 4   W_curr             939 non-null    int64
 5   L_curr             939 non-null    int64
 6   W_pct_curr         939 non-null    float64
 7   AP Pre             268 non-null    float64
 8   AP Post            225 non-null    float64
 9   AP Change          151 non-null    float64
 10  NCAA Tournament    368 non-null    object
 11  W_ovr              939 non-null    int64
 12  L_ovr              939 non-null    int64
 13  W_pct_ovr          939 non-null    float64
 14  NCAA_app_ovr       847 non-null    float64
 15  S16_ovr            554 non-null    float64
 16  FF_ovr             246 non-null    float64
 17  Chmp_ovr           94 non-null     float64
 18  Season             939 non-null    int64
 19  pake               758 non-null    float64
 20  pase               758 non-null    float64
 21  wins               758 non-null    float64
 22  loss               758 non-null    float64
 23  w_percent          758 non-null    float64
 24  Total_NCAAT_games  758 non-null    float64
 25  total_games        939 non-null    int64
dtypes: float64(15), int64(7), object(4)
memory usage: 190.9+ KB

In [111]:
spellings["norm"] = spellings["TeamNameSpelling"].apply(normalize_name)
coaches["norm"] = coaches["School"].apply(normalize_name)

In [112]:
len(coaches)

939

In [113]:
coaches = coaches.merge(spellings, on="norm").drop_duplicates()

In [114]:
len(coaches)

1255

In [115]:
coaches = coaches.groupby(["Season", "norm", "Coach"]).last()

In [116]:
coaches.to_csv("data/coaches_upd.csv")

In [117]:
len(coaches)

939

In [118]:
coaches.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 939 entries, (2015, 'alabama', 'Anthony Grant') to (2026, 'xavier', 'Richard Pitino')
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         939 non-null    int64
 1   School             939 non-null    object
 2   Conference         939 non-null    object
 3   W_curr             939 non-null    int64
 4   L_curr             939 non-null    int64
 5   W_pct_curr         939 non-null    float64
 6   AP Pre             268 non-null    float64
 7   AP Post            225 non-null    float64
 8   AP Change          151 non-null    float64
 9   NCAA Tournament    368 non-null    object
 10  W_ovr              939 non-null    int64
 11  L_ovr              939 non-null    int64
 12  W_pct_ovr          939 non-null    float64
 13  NCAA_app_ovr       847 non-null    float64
 14  S16_ovr            554 non-null    float64
 15  FF_ovr             246 non-null    float64
 16  Chmp_ovr           94 non-null     float64
 17  pake               758 non-null    float64
 18  pase               758 non-null    float64
 19  wins               758 non-null    float64
 20  loss               758 non-null    float64
 21  w_percent          758 non-null    float64
 22  Total_NCAAT_games  758 non-null    float64
 23  total_games        939 non-null    int64
 24  TeamNameSpelling   939 non-null    object
 25  TeamID             939 non-null    int64
dtypes: float64(15), int64(7), object(4)
memory usage: 196.7+ KB